@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+3D&display=swap');


html,
body {
    padding: 0;
    border: border-box;
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #111c34;
}
p{
    margin: 0;
}

.home{
    height: 900px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 5%;
    
}.name{
    width: 1000px;
    height:350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}.name1{
    color: #eeeeee;
    font-size: 8rem;
    font-family: "Poppins", sans-serif;
    text-align: center; 
    font-weight: 600;
}.name2{
    color: #AABEE5;
    font-size: 1.9rem;
    font-family: "Poppins", sans-serif;
    text-align: center; 
    font-weight: 400;
    letter-spacing: 12px;
    margin-bottom: 20px;
}.name3{
    color: #8A9ABA;
    font-size: 2rem;
    text-align: center; 
    font-weight: 400;
}.menu{
    color: #94A3B8;
    
    font-size: 1.1rem;
    width: 120px;
    height: 150px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1680px;
    margin-bottom: 580px;
    
}.logo{
    width: 120px;
    height: 50px;
    position: absolute;
    color: #59DCC9;
    font-size: 32px;
    font-family: "Rock 3D", system-ui;
    background-size: cover;
    font-size: 3.5rem;
    margin-right: 1600px;
    margin-bottom: 700px;
    cursor: pointer;
}.social{
    height: 150px;
    width: 45px;
    font-size: 2.1rem;
    color: #94A3B8;
    position: absolute;
    margin-left: 1620px;
    margin-top: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}.mail{
    height: 45px;
    width: 370px;
    color: #94A3B8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    font-size: 1.3rem;
    margin-top: 770px;
    margin-right: 1320px;
}.div1{
    width: 640px;
    height: 1px;
    background-color: #59DCC9;
    position: absolute;
    margin-top: 920px;
    margin-left: 1260px;
}.div2{
    width: 640px;
    height: 1px;
    background-color: #59DCC9;
    position: absolute;
    margin-top: 920px;
    margin-right: 1260px;
}
.exp{
    height: 985px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7% 5%;
}.project{
    height: 859px;
    width: 1440px;
    display: flex;
    padding: 0px 20px;
    justify-content: space-between;

}.divider{
    height: 1000px;
    border: 1px dashed #59DCC9;
}.workexp{
    width: 852px;
    height: 910px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}.skill{
    width: 355px;
    height: 930px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}.workexpbrief{
    width: auto;
    height: auto;
    background-color: #111c34;
    box-shadow: #59DCC9;
    box-shadow: 0px 0px 5px #59DCC9;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
    
    padding: 30px 30px;
}.exp1{
    font-size: 1.4rem;
    color: #eeeeee;
    font-weight: 700;
    padding-bottom: 5px;
}.exp2{
    font-size: 1.2rem;
    color: #8A9ABA;
    font-weight: 600;
    padding-bottom: 5px;
}.exp3{
    font-size: 1rem;
    color: #8A9ABA;
    font-weight: 500;
}
.workexptitle{
    color: #eeeeee;
    font-size: 2.8rem;
    font-weight: 600;
}.skilltitle{
    color: #eeeeee;
    font-size: 2.8rem;
    font-weight: 600;
}.skillbrief{
    width: auto;
    height: auto;
    background-color: #111c34;
    box-shadow: #59DCC9;
    box-shadow: 0px 0px 5px #59DCC9;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
    
    padding: 20px 20px;
}.wexp{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 860px;
    height: auto;
}.wskill{
    margin-top: 70px;
    width: 380px;
    height: 800px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}.skillbt2{
    height: auto;
    width: auto;
    color: #59DCC9;
    font-size: 0.8rem;
}.skillbt{
    color: #eeeeee;
    font-size: 1.4rem;
    font-weight: 600;
    
}.skillbt2 p{
    height: auto;
    width: auto;
    padding: 7px 10px;
    background-color: #122C39;
    border-radius: 30px;
    
}






