@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+3D&display=swap');



html,
body {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #0f172a;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

p{
    margin: 0;
}
.cursor {
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 9999;
  }a{
    text-decoration: none;
    color: #94A3B8;
  }
  
  .outer {
    background: radial-gradient(#0044ff80 20%, #182b54 80%);
    filter: blur(80px);
    opacity: 10%;
    height: 1000px;
    width: 1000px;
  }
  .cursor.hover {
    transform: translate(-50%, -50%) scale(4);
    transition: transform 250ms ease-in-out;
  }.active{
    color: #59DCC9;
  }
.home{
    height: 910px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 5%;
    
}.name{
    width: 100%;
    height:350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}.name1{
    color: #eeeeee;
    font-size: 8rem;
    font-family: "Poppins", sans-serif;
    text-align: center; 
    font-weight: 600;
}.name2{
    color: #AABEE5;
    font-size: 1.9rem;
    font-family: "Poppins", sans-serif;
    text-align: center; 
    font-weight: 400;
    letter-spacing: 12px;
    margin-bottom: 20px;
}.name3{
    color: #8A9ABA;
    font-size: 2rem;
    text-align: center; 
    font-weight: 400;
}.menu a:hover{
    color: #59DCC9;
    cursor: pointer;
    transition-duration: .5s;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 70px;
    padding: 0% 15%; 
    background: rgba(15, 23, 42, );
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 999;
}.menu{
    color: #94A3B8;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;  
    width: 50%; 
    font-weight: 600;
}.logo{
    
    color: #59DCC9;
    font-family: "Rock 3D", system-ui;
    font-size: 2rem;
    
}.social{
    height: 150px;
    width: 45px;
    font-size: 2.1rem;
    color: #94A3B8;
    position: fixed;
    margin-left: 1620px;
    margin-top: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 998;
}.social i:hover{
    color: #59DCC9;
    
    scale: 1.1;
    transition-duration: .5s;
}
.mail{
    height: 45px;
    width: 370px;
    color: #94A3B8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    font-size: 1.3rem;
    margin-top: 700px;
    margin-right: 1320px;
}.divider2{
      width: 100%;
      display: flex;
      justify-content: space-between;
}
.div1{
    width: 640px;
    height: 1px;
    background-color: #59DCC9;
    
}.div2{
    width: 640px;
    height: 1px;
    background-color: #59DCC9;
    
}.svg1{
    position: absolute;
    margin-right: 1450px;
    margin-bottom: 960px;
}.svg2{
    position: absolute;
    margin-left: 1560px;
    margin-bottom: 960px;
}
.exp{
    height: auto;
    width: 76%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6% 12%;
}.project{
    height: auto;
    width: auto;
    display: flex;
    padding: 0px 20px;
    justify-content: space-evenly;
    gap: 60px;
    margin-top: 90px;

}.divider{
    border: #59DCC9;
}.workexp{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}.skill{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}.workexpbrief{
    width: auto;
    height: auto;
    background-color: #111c34;
    box-shadow: #59DCC9;
    box-shadow: 0px 0px 5px #59DCC9;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
    
    padding: 30px 30px;
}.exp1{
    font-size: 1.4rem;
    color: #eeeeee;
    font-weight: 700;
    padding-bottom: 5px;
}.exp2{
    font-size: 1.2rem;
    color: #8A9ABA;
    font-weight: 600;
    padding-bottom: 5px;
}.exp3{
    font-size: 1rem;
    color: #8A9ABA;
    font-weight: 500;
}
.workexptitle{
    color: #eeeeee;
    font-size: 2.8rem;
    font-weight: 600;
}.skilltitle{
    color: #eeeeee;
    font-size: 2.8rem;
    font-weight: 600;
}.skillbrief{
    width: auto;
    height: auto;
    background-color: #111c34;
    box-shadow: #59DCC9;
    box-shadow: 0px 0px 5px #59DCC9;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
    
    padding: 25px 25px;
}.sinfo{
    display: flex;
    gap: 13px;
    width: 305px;
    height: 35px;
    font-size: .8rem;
}.sinfo p{
    background-color: #122C39;
    padding: 7px 10px;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 20px;
}
.wexp{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: auto;
}.wskill{
    margin-top: 70px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}
.skillbt{
    color: #eeeeee;
    font-size: 1.4rem;
    font-weight: 600;
    
}.skillbt2{
    color: #59DCC9;
    margin-top: 13px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    gap: 13px;

}.div3{
    width: 640px;
    height: 1px;
    background-color: #59DCC9;
    position: absolute;
    margin-top: 1100px;
    margin-left: 1260px;
}.div4{
    width: 640px;
    height: 1px;
    background-color: #59DCC9;
    position: absolute;
    margin-top: 1100px;
    margin-right: 1260px;
}.projects{
    height: auto;
    width: 76%;
    display: flex;
    justify-content: center;
    
    padding: 0% 12% 4% 12%;
}.projecttitle{
    color: #eeeeee;
    font-size: 2.8rem;
    font-weight: 600;
    
}.prj{
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}.prj2{
    display: flex;
    gap: 100px;
}.prjclick{
    display: block;
}.prjclick2{
    display: none;
}
.ui{
    width: 154px;
    height: 55px;
    background-color: #122C39;
    border-radius: 25px;
    color: #59DCC9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
}.html{
    width: 184px;
    height: 55px;
    background-color: #122C3900;
    border-radius: 25px;
    color: #59DCC9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}.prj3{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 80px;
    
    
}.prjimage{
    background-image: url(../assets/1.png);
    background-color: #59DCC9;
    width: 517px;
    height: 326px;
    border-radius: 6px;
}
.prjtitle p{
    font-size: 1.8rem;
    color: #eeeeee;
    font-weight: 800;
}.prjtitle i{
    font-size: 1rem;
    color: #eeeeee;
    font-weight: 800;
}.prjtitle{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 200px;
    
}.prjbrief{
    font-size: 1rem;
    width: 590px;
    color: #8A9ABA;
    background-color: #122C39;
    padding: 20px;
    border-radius: 4px;
    text-wrap: pretty;
    
    
}.prjbrief b{
    color: #59DCC9;
}.prjbrief2 b{
    color: #59DCC9;
}
.prjmain{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-left: 800px;
}.prjcontant{
    width: auto;
    height: auto;
    margin-right: 500px;
}.prjtitle2{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 300px;
    text-align: right;
    
}.prjbrief2{
    font-size: 1rem;
    width: 590px;
    color: #8A9ABA;
    background-color: #122C39;
    padding: 20px;
    border-radius: 4px;
    text-align: right;
    text-wrap: pretty;
    
    
}.prjmain2{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-left: 90px;
}.prj4{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 80px;
    
    
}.prjtitle2 p{
    font-size: 1.8rem;
    color: #eeeeee;
    font-weight: 800;
}.prjtitle2 i{
    font-size: 1rem;
    color: #eeeeee;
    font-weight: 800;
    transform: scaleX(-1);
}.prjimage2{
    background-image: url(../assets/2.png);
    background-color: #59DCC9;
    width: 517px;
    height: 326px;
    border-radius: 6px;
    margin-left: 913px;
}.prjimage3{
    background-image: url(../assets/3.png);
    background-color: #59DCC9;
    width: 517px;
    height: 326px;
    border-radius: 6px;
}.prjimage:hover{
    background-image: url(../assets/1_1.png);
    transition: ease-in-out 0.4s;
}.prjimage2:hover{
    background-image: url(../assets/2_1.png);
    transition: ease-in-out 0.4s;
}.prjimage3:hover{
    background-image: url(../assets/3_1.png);
    transition: ease-in-out 0.2s;
}.prjtitle:hover{
    text-shadow: -4px 4px 0px #59DCC9;
    margin-left: 202px;
    
}.prjtitle2:hover{
    text-shadow: 4px 4px 0px #59DCC9;
    margin-left: 298px;
}.prjimage5{
    background-image: url(../assets/2.png);
    background-color: #59DCC9;
    width: 517px;
    height: 326px;
    border-radius: 6px;
    margin-left: 913px;
}.prjimage4{
    background-image: url(../assets/3.png);
    background-color: #59DCC9;
    width: 517px;
    height: 326px;
    border-radius: 6px;
}.prjimage6{
    background-image: url(../assets/3.png);
    background-color: #59DCC9;
    width: 517px;
    height: 326px;
    border-radius: 6px;
}
.logos2{
    transform: scaleX(-1);
}.html:hover{
    background-color: #122C39;
    cursor: pointer;
    transition: ease-in-out 0.4s;
}.ui:hover{
    background-color: #122C39;
    cursor: pointer;
    transition: ease-in-out 0.4s;
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
canvas{
  display:block;
  
} .contact{
    width: 100%;
    height: 500px;
}












